# Ignore development-only files
**/.git
**/.idea
**/node_modules
**/build
**/out
**/.next
**/.vercel
**/.env

# Ignore testing files
**/__tests__
**/docker-mongo

# Ignore other files
Dockerfile
docker-compose.yml
README.md
.gitignore
LICENSE