@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --primary-color: "#F8B49C";
    --secondary-color: "#38649C";
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  /* debug */
  /* border: 1px solid red; */
}

section {
  padding-top: 5em;
  padding-inline: 0.5em;
  min-height: 100vh;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

main {
  overflow-x: hidden;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-circle {
  position: absolute;
  width: 100%;
  height: 50em;
  display: grid;
  min-width: 50em;
  top: -3em;
  right: -10em;
  z-index: -100;
  place-content: center;
  transform: scale(1.4);
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 20px;
}

.debug {
  border: 2px solid red;
}

.search-container {
  display: flex;
  gap: 0.5em;
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.8rem;
  padding-inline: 1em;
  padding-block: 0.5em;
  width: 30em;
  outline: none;
}
