@media (min-width: 768px) {
  main,
  section {
    padding-top: 0;
  }

  .bg-circle {
    position: absolute;
    width: 180%;
    height: 180%;
    min-width: 130em;
    top: -80%;
    left: -50%;
    z-index: -10;
  }

  main::before {
    background: url(/bg-circles.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 135em;
    position: fixed;
    height: 100%;
    width: 100vw;
    z-index: -100;
    background-position: -30em -50em;
    content: "";
  }
}

@media (min-width: 690px) {
  .thesis_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .div1 {
    grid-area: 1 / 1 / 3 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 3 / 3;
  }
  .div3 {
    grid-area: 1 / 3 / 2 / 4;
  }

  .rs-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas:
      "preview abstract"
      "details abstract"
      "researchers abstract"
      "button abstract"
      ". abstract";
  }
  .rs-preview {
    grid-area: preview;
  }
  .rs-details {
    grid-area: details;
  }
  .rs-researchers {
    grid-area: researchers;
  }
  .rs-button {
    grid-area: button;
  }
  .rs-abstract {
    grid-area: abstract;
  }
}
